body {
	background: #CCFFCC;

}
.header {
    float: top;
    left: 0; right: 0;
    height: 70px;
    font-family: Georgia;
    text-align: center;
    color: #AAAAAA;

}
.sidebar {
    
    float:left;
    width: 160px;
    border-right: 1px dashed #000000;
    padding-left: 2px;
    padding-right: 0px;
}
.main {
    
    float:center;
    left: 170px; top: 100px;
    margin-right: 2px;
    margin-left: 20px;
    margin-top:4px;
    margin-bottom: 4px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top:1px solid #000000;
}