body{
	background-color: #CCCCCC;
	width: 1024px;
}
#large_background{
	background-color: #FFFFFF;
	width:1000px;
	height: auto;
	position: center;
	padding-left: 4px
}
header{
	width: 865px;
	border-bottom-color: #000000;
	border-bottom: 1px solid;
	font-family: 'Miss Fajardose', cursive;
	margin: 2px;
	padding-top: 2px;
	padding-left: 10px;
}
h1{
	
	font-size: 30pt;
}
h2{
	font-family: Georgia;
	font-size: 15pt;
}
h3{
	font-family:Georgia;
	font-size: 13pt;
	font-color: #464646;
}
article{
	font-family: Georgia;
	font-size: 12pt;
	padding-left: 10px;

}

nav{
	float: right;
	list-style: none;
	margin: 4px;
	padding: 2px;
	border: 1px dashed;
	border
	padding-right: 10px;
}

nav li{
	list-style: none;
	padding: 2px;
	font-family: Georgia;
	font-size: 11px;
}

a:link{color:#000000; text-decoration:none;}
a:visited{color: #000000; text-decoration:none;}
a:hover{color: #FF0000; text-decoration:underline;};